html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  background-color: #f3f4f6 !important;
}

#root {
  height: 100%;
}

.login-page {
  background-color: #349ece;
}

.login-page h1 {
  font-size: 3rem;
}

.login-page label {
  font-size: 1.5rem;
  color: #313944;
}

.login-page small {
  color: #313944 !important;
}

.custom-button {
  background-color: #313944 !important;
  color: #acafb4 !important;
  border-radius: 0 !important;
  border: 0.1rem solid #acafb470 !important;
  height: 3rem !important;
  font-size: 1.5rem !important;
}

.header-title {
  background-color: #41b5e8;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 2rem;
  font-weight: 500;
}

.user-email {
  background-color: #fdfdfd;
  color: #6a7d91;
  font-weight: 700;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1.8rem;
}

.logout-button {
  background-color: #eeeff1;
  padding: 1rem 1.5rem;
  border-top: 0.1rem solid #97a3b028;
  border-bottom: 0.1rem solid #97a3b028;
}

.logout-button .btn {
  font-size: 1.5rem !important;
}

.logout-button .logout-img {
  width: 5%;
}

.logout-button .btn {
  background-color: transparent !important;
  color: #97a3b0 !important;
  font-weight: 700;
}

.add-stack {
  font-size: 1.5rem;
  color: #313944;
}

.each-stack {
  border-left: none !important;
  border-right: none !important;
}

.pie-chart {
  width: 7rem;
}

.pie-chart-ctn {
  background-color: #fff;  
}

.stats-ctn {
  background-color: #fff;
  width: 95%;
  font-size: 2rem;
}

.red-error {
  color: #ff0000;
}

.stack-img {
  width: 5rem;
}

.delete-btn {
  background-color: #ff0000 !important;
  color: #fff !important;
  font-weight: 700;
}

.stack-buttons {
  margin-bottom: 5rem;
}

.button-footer {
  background-color: #313944;
  position: fixed;
  bottom: 0;
}

.button-footer .btn {
  color: #acafb4;
  font-size: 10%;
}

.footer-img {
  width: 30%;
}

.active {
  background-color: #41b5e8 !important;
  color: #fff !important;
}
