html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  background-color: #f3f4f6 !important;
}

#root {
  height: 100%;
}

.login-page {
  background-color: #349ece;
  height: 100vh;
}

.login-page h1 {
  font-size: 3rem;
}

.login-page label {
  font-size: 1.5rem;
  color: #313944;
}

.login-page small {
  color: #313944 !important;
}

.custom-button {
  background-color: #313944 !important;
  color: #acafb4 !important;
  border-radius: 0 !important;
  border: 0.1rem solid #acafb470 !important;
  font-size: 1.5rem !important;
}

.login-page .custom-button {
  width: 290px !important;
  margin: 0 auto;
}

.login-page input {
  width: 290px !important;
}

.login-page form {
  margin: 0 auto !important;
}

.py-10 {
  padding-bottom: 10rem !important;
}

.header-title {
  background-color: #41b5e8;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 2rem;
  font-weight: 500;
}

.user-email {
  background-color: #fdfdfd;
  color: #6a7d91;
  font-weight: 700;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1.8rem;
}

.logout-button {
  background-color: #eeeff1;
  padding: 1rem 1.5rem;
  border-top: 0.1rem solid #97a3b028;
  border-bottom: 0.1rem solid #97a3b028;
}

.logout-button .btn {
  font-size: 1.5rem !important;
  background-color: transparent !important;
  color: #97a3b0 !important;
  font-weight: 700;
}

.logout-button .logout-img {
  width: 5%;
}

.add-stack {
  font-size: 1.5rem;
  color: #313944;
}

.each-stack {
  border-left: none !important;
  border-right: none !important;
}

.pie-chart {
  width: 7rem;
}

.pie-chart-ctn {
  background-color: #fff;
}

.stats-ctn {
  background-color: #fff;
  width: 95%;
  font-size: 2rem;
}

.red-error {
  color: #f00;
  max-width: 290px;
}

.stack-img {
  width: 5rem;
}

.delete-btn {
  background-color: #f00 !important;
  color: #fff !important;
  font-weight: 700;
}

.stack-buttons {
  margin-bottom: 5rem;
}

.button-footer {
  background-color: #313944;
  position: fixed;
  bottom: 0;
}

.button-footer .btn {
  color: #acafb4;
  font-size: 1rem;
}

.footer-img {
  width: 30%;
}

.footer-btn:active {
  background-color: #41b5e8 !important;
  color: #fff !important;
}

.footer-btn:focus {
  background-color: #41b5e8 !important;
  color: #fff !important;
}

.footer-btn:visited {
  background-color: #41b5e8 !important;
  color: #fff !important;
}

@media (min-width: 600px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 85%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 95%;
  }
}
