html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.login-page {
  background-color: #349ece;
}

.login-page h1 {
  font-size: 3rem;
}

.login-page label {
  font-size: 1.5rem;
  color: #313944;
}

.login-page small {
  color: #313944 !important;
}

.custom-button {
  background-color: #313944 !important;
  color: #acafb4 !important;
  border-radius: 0 !important;
  border: 0.1rem solid #acafb470 !important;
  height: 3rem !important;
  font-size: 1.5rem !important;
}

.button-footer {
  height: 10%;
  background-color: #313944;
  position: fixed;
  bottom: 0;
}

.button-footer .btn {
  color: #acafb4;
  font-size: 0.8rem;
}

.footer-img {
  width: 30%;
}

.active {
  background-color: #41b5e8 !important;
  color: #fff !important;
}
